<% include ../layouts/header %>
<form method="POST" id="form_id">
  First name:<br>
  <input type="text" name="name" >
  <br>
  Age:<br>
  <input type="text" name="age">
  <br><br>
 
  <input type="submit" value="Submit"  onclick="redirectToList();" >
  
</form> 
<% include ../layouts/footer %>